<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="p2694856ConnectionString" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694856;User ID=p2694856;Password=football_ranker_1"
      providerName="System.Data.SqlClient" />
    <add name="p2694856CS" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694856;User ID=p2694856;Password=football_ranker_1"
      providerName="System.Data.SqlClient" />
    <add name="p2694856ConnectionString2" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694856;User ID=p2694856;Password=football_ranker_1;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="p2694856ConnectionStringPrime" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694856;User ID=p2694856;Password=football_ranker_1"
      providerName="System.Data.SqlClient" />
    <add name="p2694856ConnectionString3" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694856;Persist Security Info=True;User ID=p2694856;Password=football_ranker_1;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="p2694856ConnectionStringGraph" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694856;User ID=p2694856;Password=football_ranker_1;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="p2694856ConnectionStringGraph2" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694856;User ID=p2694856;Password=football_ranker_1;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>